ExpeditorShipping/SOA/Schemas/UpdateShipmentProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/WingPOS/ExpeditorShipping/UpdateShipmentProcess"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="ProcessFlag" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="Result" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="UserFault">
    <complexType>
      <sequence>
        <element name="code" type="string"/>
        <element name="summary" type="string"/>
        <element name="detail" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="flowID" type="integer"/>  
</schema>